/* Navbar Brand CSS Start */
.navbar .navbar-brand {
  color: grey;
  font-weight: bolder;
  font-size: 2rem;
}
/* Card CSS Start */

.card .card-img-top {
  height: 15rem;
}
.card .price {
  color: rgb(56, 48, 48);
  font-size: 1.5rem;
  font-weight: bold;
}

/* Delete Product Table */
.ProductTable {
  border: 0.1rem solid black;
}
.ProductTable td {
  border: 0.1rem solid black;
  padding: 1rem;
}
.ProductTable thead td {
  font-weight: 600 !important;
}

/* For Changing Nav-pill bg color */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #673ab7;
}

/* Link Text decoration None */
.textNone {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.textNone:hover {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.textNone:visited {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
#imgTag {
  height: 8rem;
  width: 8rem;
  alt: inherit;
}
.centerContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.FormCSS form input,
.FormCSS form button {
  padding: 0.5rem;
  margin: 0.5rem;
}